@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/play-v21-cyrillic_latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/play-v21-cyrillic_latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v51-cyrillic_latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/roboto-v51-cyrillic_latin-600.woff2') format('woff2');
}

:root {
  /* Colors */
  --beauty-landing-2-background: #fff;
  --beauty-landing-2-s2: #2b7fff;
  --beauty-landing-2-c1: #011c44;
  --beauty-landing-2-c3: #4a4a4a;
  --beauty-landing-2-s4: #ffd02b;
  --beauty-landing-2-s5: #747272;
  --beauty-landing-2-c6: #011f4a;

  /* Fonts */
  --second-family: 'Roboto', sans-serif;
  --font4: 'Play', sans-serif;
}

/* Base */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--beauty-landing-2-c1);
  background-color: var(--beauty-landing-2-background);
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 22px;
  line-height: 1.7;
  margin: 0;
  /* background-image: url(../images/why-choose-us-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center 1400px; */
}

body .accent {
  color: var(--beauty-landing-2-s2);
}

h1,
h2,
p {
  margin-top: 0;
}

a {
  display: inline-block;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  line-height: 1.1;
}

img {
  display: block;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.section {
  padding: 48px 0;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

/* Link */
.link {
  color: var(--beauty-landing-2-c1);
  font-size: 18px;
  font-style: normal;
  text-decoration: none;
  line-height: 1.17;
  transition:
    color 0.3s,
    font-weight 0.3s;
}

.link:hover {
  color: var(--beauty-landing-2-s2);
  /* font-weight: 700; */
}

/* Button */
.button {
  padding: 16px 32px;
  color: var(--beauty-landing-2-background);
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  background: var(--beauty-landing-2-s2);
  border: solid 2px var(--beauty-landing-2-s2);
  border-radius: 32px;
  cursor: pointer;
  transition:
    color 0.3s,
    background-color 0.3s,
    border-color 0.3s,
    font-weight 0.3s;
}

.button:hover {
  color: var(--beauty-landing-2-c1);
  font-weight: 600;
  background-color: var(--beauty-landing-2-background);
  border: solid 2px var(--beauty-landing-2-s2);
  border-radius: 32px;
}

/* Header section */
.header {
  position: absolute;
  z-index: 100;
  top: 0;
  width: 100%;
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.25);
}

.header-container {
  padding: 32px 0;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}

.header-menu {
  display: flex;
  justify-content: center;
  gap: 56px;
  flex-grow: 1;
}

.header-contacts {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.header-socials {
  fill: var(--beauty-landing-2-c1);
  transition: fill 0.3s;
}

.header-socials:hover {
  fill: var(--beauty-landing-2-s2);
}

/* Hero section */
.hero-section {
  position: relative;
  padding-top: 120px;
  padding-bottom: 126px;
  background-image:
    linear-gradient(
      94deg,
      #fff 9.65%,
      rgba(255, 255, 255, 0.85) 26.08%,
      rgba(255, 255, 255, 0.19) 52.74%,
      rgba(255, 255, 255, 0) 74.46%
    ),
    url(../images/hero-section-bg.jpg);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: contain;
  mask-image: url('../images/hero-wave.png');
  mask-repeat: no-repeat;
  mask-position: center bottom;
  mask-size: cover;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 529px;
  margin-top: 16px;
  margin-left: 106px;
}

.hero-image {
  display: flex;
  justify-content: flex-end;
}

.hero-section .button {
  margin-bottom: 14px;
}

.hero-title {
  margin-bottom: 40px;
  color: var(--beauty-landing-2-s2);
  font-family: var(--font4);
  font-weight: 700;
  font-size: 140px;
  line-height: 0.8;
  text-transform: capitalize;
}

.hero-text {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 18px;
}

.hero-hint {
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  max-width: 238px;
}

/* Section title */
.section-title {
  margin-bottom: 48px;
  font-family: var(--font4);
  font-weight: 700;
  font-size: 64px;
  line-height: 1.2;
}

.section-title .accent-name {
  color: var(--beauty-landing-2-s2);
  text-transform: capitalize;
}

/* About us section */
.about-us-section {
  margin-bottom: 80px;
}

.about-us-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.about-us-content {
  margin-top: 40px;
  max-width: 708px;
}

.star-one,
.star-two,
.star-three {
  position: absolute;
}

.star-one {
  top: 336px;
  right: 294px;
  fill: var(--beauty-landing-2-c6);
}

.star-two {
  top: 32px;
  right: -26px;
  fill: var(--beauty-landing-2-s2);
}

.star-three {
  top: 268px;
  right: 6px;
  fill: var(--beauty-landing-2-c3);
}

.about-us-procedure-example {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  flex-basis: 500px;
  flex-shrink: 0;
}

.after-procedure {
  order: 1;
  align-self: flex-end;
}

.before-example,
.after-example {
  border-radius: 50%;
}

.about-us-title {
  margin-bottom: 40px;
  max-width: 528px;
}

.about-us-accent {
  font-weight: 600;
  text-transform: capitalize;
}

.about-us-text {
  margin-bottom: 40px;
}

/* Why choose us section */
.why-choose-us-section {
  position: relative;
}

.why-choose-us-section::after {
  position: absolute;
  height: 1506px;
  top: -180px;
  left: 0;
  right: 0;
  background-image: url(../images/why-choose-us-bg.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  content: '';
  z-index: -1;
}

.why-choose-us-title {
  text-align: center;
}

.why-choose-us-container {
  display: flex;
  justify-content: center;
  max-width: 1060px;
  margin: 0 auto;
}

.why-choose-us-list {
  display: flex;
  justify-content: center;
  gap: 56px;
}

.why-choose-us-item {
  flex-basis: calc((100% - 112px) / 3);
}

.why-choose-us-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 181px;
  gap: 8px;
  padding: 24px 32px;
  border: 0;
  border-radius: 32px;
  background: var(--beauty-landing-2-background);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  fill: var(--beauty-landing-2-s2);
}

.why-choose-us-text {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  line-height: 1.33;
  margin: 0;
}

/* Our procedures section */
.our-procedures-section {
  text-align: center;
}

.our-procedures-container {
  display: flex;
  align-items: center;
  gap: 32px;
}

.our-procedures-list {
  display: flex;
  gap: 16px;
}

.our-procedures-item {
  flex-basis: calc((100% - 32px) / 3);
}

.our-procedures-card {
  padding: 372px 77px 32px 115px;
  border: 0;
  border-radius: 4px 120px;
  background: linear-gradient(
    180deg,
    rgba(1, 28, 68, 0) 47.4%,
    rgba(1, 28, 68, 0.73) 82.66%,
    #011c44 99.06%
  );
}

.our-procedures-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 22px;
  line-height: 1, 18;
  text-align: center;
  color: var(--beauty-landing-2-background);
}

/* Carousel */
.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  padding: 0;
  border-radius: 50%;
  background-color: transparent;
  fill: var(--beauty-landing-2-c1);
  border: 1px solid var(--beauty-landing-2-c1);
  cursor: pointer;
  transition:
    background-color 0.3s,
    fill 0.3s,
    border 0.3s;
}

.carousel-button:hover {
  background-color: var(--beauty-landing-2-s2);
  fill: var(--beauty-landing-2-background);
  border: 1px solid var(--beauty-landing-2-background);
}

.carousel-button.next {
  transform: rotate(180deg);
}

/* Contacts section */
.contacts-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 32px;
}

.contacts-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 48px 56px;
  background-image: url(../images/contacts-bg.png);
  background-color: var(--beauty-landing-2-c1);
  border: none;
  border-radius: 32px;
  max-width: 424px;
  width: 100%;
}

.contacts-section {
  text-align: center;
  margin-bottom: 48px;
}

.contacts-map {
  flex-shrink: 0;
  border: none;
  border-radius: 32px;
}

.contacts-form-field {
  margin-bottom: 16px;
}

.contacts-form-button {
  margin-bottom: 8px;
  max-width: 295px;
}

/* Footer */
footer {
  padding: 56px 0;
  position: relative;
  /* color: var(--beauty-landing-2-s5); */
  background-image: url('../images/footer-bg.png');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-color: var(--beauty-landing-2-c1);
}

footer::after {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 250px;
  height: 150px;
  background-image: url('../images/footer-bottles.png');
  background-repeat: no-repeat;
  content: '';
}

.footer-container {
  display: flex;
  gap: 20px;
}

.footer-nav,
.footer-address {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}

.footer-logo,
.footer-menu {
  flex-grow: 1;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-socials {
  display: flex;
  gap: 24px;
}

.address-list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 16px;
}

.footer-socials-icon {
  fill: var(--beauty-landing-2-background);
  transition: fill 0.3s;
}

.footer-socials-icon:hover {
  fill: var(--beauty-landing-2-s2);
}

.address-link {
  color: var(--beauty-landing-2-background);
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 1.1;
  text-decoration: none;
  transition: color 0.3s;
}

.address-link:hover {
  color: var(--beauty-landing-2-s2);
  /* font-weight: 700; */
}

.address-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.address-copyright {
  color: var(--beauty-landing-2-s5);
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 13px;
  font-style: normal;
}

/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px 0;
  transition:
    opacity 0.3s,
    visibility 0.3s;
}

.modal {
  position: relative;
  width: 100%;
  max-width: 720px;
  height: 100%;
  max-height: 680px;
  padding: 42px 144px;
  background: var(--beauty-landing-2-c1);
  background-image: url('../images/modal-bg.png');
  border-radius: 48px;
  color: var(--beauty-landing-2-background);
}

.modal-btn-close {
  position: absolute;
  top: 40px;
  right: 40px;
}

.modal-title {
  font-family: var(--font4);
  font-weight: 700;
  font-size: 64px;
  line-height: 1.2;
  text-align: center;
  margin: 0 auto 40px;
}

/* Form */
.form {
  max-width: 310px;
  width: 100%;
  margin: 0 auto;
}

.form-text {
  text-align: center;
  max-width: 274px;
  color: var(--beauty-landing-2-background);
  font-weight: 600;
  font-size: 22px;
  line-height: 1.3;
  margin: 0 auto 32px;
}

.form-field {
  margin-bottom: 24px;
}

.form-label {
  display: block;
  font-size: 13px;
  line-height: 1.17;
}

.form-input {
  padding: 18px 32px;
  width: 100%;
  font-size: 13px;
  line-height: 1.17;
  border: 2px solid var(--beauty-landing-2-s5);
  border-radius: 32px;
  background-color: transparent;
}

.form-input:focus {
  background-color: var(--beauty-landing-2-s5);
  outline: none;
}

.form-input::placeholder {
  color: var(--beauty-landing-2-background);
  font-family: var(--second-family);
  font-size: 13px;
  line-height: 1.17;
}

.form-button {
  display: block;
  margin: 0 auto 8px;
}

.form-terms {
  text-align: center;
  max-width: 216px;
  color: var(--beauty-landing-2-s5);
  font-size: 12px;
  line-height: 1.3;
  margin: 0 auto;
}

.form-terms-link {
  color: var(--beauty-landing-2-s5);
  text-underline-offset: 2px;
}
