.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--beauty-landing-2-background);
  fill: var(--beauty-landing-2-c1);
  border: 1px solid var(--beauty-landing-2-c1);
  cursor: pointer;
  transition:
    background-color 0.2s,
    fill 0.2s,
    border 0.2s;

  &:hover {
    background-color: var(--beauty-landing-2-s2);
    fill: var(--beauty-landing-2-background);
    border: 1px solid var(--beauty-landing-2-background);
  }

  &.next {
    transform: rotate(180deg);
  }
}
