.hero-section {
    position: relative;
    padding-top: 120px;
    padding-bottom: 126px;
    background-image: url(../images/hero-section-bg.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
    mask-image: url('../images/hero-wave.png');
    mask-repeat: no-repeat;
    mask-position: center bottom;
    mask-size: cover;
    z-index: 1;
}

.hero-section::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 1440px;
    height: 100%;
    background-image: linear-gradient(94deg,
            #fff 9.65%,
            rgba(255, 255, 255, 0.85) 26.08%,
            rgba(255, 255, 255, 0.19) 52.74%,
            rgba(255, 255, 255, 0) 74.46%);
    content: '';
    pointer-events: none;
    z-index: 2;
}

.hero-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    z-index: 3;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 529px;
    margin-top: 16px;
    margin-left: 106px;
}

.hero-image {
    display: flex;
    justify-content: flex-end;
}

.hero-section .button {
    margin-bottom: 14px;
}

.hero-title {
    margin-bottom: 40px;
    color: var(--beauty-landing-2-s2);
    font-family: var(--font4);
    font-weight: 700;
    font-size: 140px;
    line-height: 0.8;
    text-transform: capitalize;
}

.hero-text {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 18px;
}

.hero-hint {
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    max-width: 238px;
}