.about-us-section {
  margin-bottom: 50px;

  @media screen and (min-width: $bp-tablet) {
    margin-bottom: 80px;
  }

  &__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 32px;
  }

  &__content {
    max-width: 708px;

    @media screen and (min-width: $bp-desktop) {
      margin-top: 40px;
    }
  }

  &__title {
    margin-bottom: 40px;
    max-width: 528px;
  }

  &__text-brand {
    font-weight: 600;
    color: var(--beauty-landing-2-s2);
  }

  &__text {
    font-size: 18px;
    line-height: 1.1;

    @media screen and (min-width: $bp-tablet) {
      line-height: 1.7;
    }

    @media screen and (min-width: $bp-desktop) {
      font-size: 22px;
      line-height: 1.7;
      margin-bottom: 40px;
    }
  }

  &__star-one,
  &__star-two,
  &__star-three {
    position: absolute;
    animation: spin linear;
    animation-timeline: scroll();
  }

  &__star-two,
  &__star-three {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: block;
    }
  }

  &__star-one {
    bottom: -24px;
    right: 18px;
    width: 40px;
    height: 40px;
    fill: var(--beauty-landing-2-c6);

    @media screen and (min-width: $bp-tablet) {
      right: 26px;
    }

    @media screen and (min-width: $bp-desktop) {
      top: 340px;
      right: 294px;
      width: 64px;
      height: 64px;
    }
  }

  &__star-two {
    top: 32px;
    right: -26px;
    fill: var(--beauty-landing-2-s2);
  }

  &__star-three {
    top: 268px;
    right: 6px;
    fill: var(--beauty-landing-2-c3);
  }

  &__procedure-example {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 40px;
      flex-basis: 500px;
      flex-shrink: 0;
    }
  }

  &__after-procedure {
    align-self: flex-end;
  }

  &__before-example,
  &__after-example {
    width: 328px;
    height: 328px;
    border-radius: 50%;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
