.about-us-section {
  margin-bottom: 80px;

  &__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 32px;
  }

  &__content {
    margin-top: 40px;
    max-width: 708px;
  }

  &__title {
    margin-bottom: 40px;
    max-width: 528px;
  }

  &__text {
    margin-bottom: 40px;
  }

  &__star-one,
  &__star-two,
  &__star-three {
    position: absolute;
  }

  &__star-one,
  &__star-two,
  &__star-three {
    animation: spin linear;
    animation-timeline: scroll();
  }

  &__star-one {
    top: 340px;
    right: 294px;
    fill: var(--beauty-landing-2-c6);
  }

  &__star-two {
    top: 32px;
    right: -26px;
    fill: var(--beauty-landing-2-s2);
  }

  &__star-three {
    top: 268px;
    right: 6px;
    fill: var(--beauty-landing-2-c3);
  }

  &__procedure-example {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    flex-basis: 500px;
    flex-shrink: 0;
  }

  &__after-procedure {
    align-self: flex-end;
  }

  &__before-example,
  &__after-example {
    width: 328px;
    height: 328px;
    border-radius: 50%;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
