.contacts-section {
  text-align: center;

  &.section {
    padding-bottom: 0;
  }

  @media screen and (min-width: $bp-desktop) {
    margin-bottom: 48px;
  }

  &__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 24px;

    @media screen and (min-width: $bp-tablet) {
      // align-items: flex-start;
      flex-direction: row;
      gap: 24px;
      margin-bottom: 64px;
      align-items: stretch;
    }

    @media screen and (min-width: $bp-desktop) {
      gap: 32px;
      margin-bottom: 0;
    }
  }

  &__map {
    flex-shrink: 0;
    margin: 0 -24px;
    height: 232px;
    border: none;
    order: 1;

    @media screen and (min-width: $bp-tablet) {
      margin: 0;
      width: 50%;
      height: 460px;
      border-radius: 32px;
      order: 0;
    }

    @media screen and (min-width: $bp-desktop) {
      width: 605px;
      height: 494px;
      border-radius: 32px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 42px 24px;
    background-image: url(../images/contacts-bg.png);
    background-color: var(--beauty-landing-2-c1);
    border: none;
    border-radius: 32px;
    max-width: 424px;
    width: 100%;
    align-self: center;

    @media screen and (min-width: $bp-desktop) {
      adding: 48px 56px;
      align-self: auto;
    }
  }

  &__text {
    text-align: center;
    max-width: 274px;
    color: var(--beauty-landing-2-background);
    font-weight: 600;
    font-size: 22px;
    line-height: 1.2;
    margin: 0 auto 24px;

    @media screen and (min-width: $bp-desktop) {
      margin: 0 auto 32px;
    }
  }

  &__form {
    max-width: 246px;
    width: 100%;
    margin: 0 auto;

    @media screen and (min-width: $bp-tablet) {
      max-width: 290px;
    }

    @media screen and (min-width: $bp-desktop) {
      max-width: 310px;
    }
  }

  &__form-field {
    margin-bottom: 16px;
  }

  &__button {
    display: block;
    margin: 0 auto 8px;
    // max-width: 295px;
  }
}
