.contacts-section {
  text-align: center;
  margin-bottom: 48px;

  &__container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 32px;
  }

  &__map {
    flex-shrink: 0;
    border: none;
    border-radius: 32px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 48px 56px;
    background-image: url(../images/contacts-bg.png);
    background-color: var(--beauty-landing-2-c1);
    border: none;
    border-radius: 32px;
    max-width: 424px;
    width: 100%;
  }

  &__text {
    text-align: center;
    max-width: 274px;
    color: var(--beauty-landing-2-background);
    font-weight: 600;
    font-size: 22px;
    line-height: 1.2;
    margin: 0 auto 32px;
  }

  &__form {
    max-width: 310px;
    width: 100%;
    margin: 0 auto;
  }

  &__form-field {
    margin-bottom: 16px;
  }

  &__button {
    display: block;
    margin: 0 auto 8px;
    // max-width: 295px;
  }
}
