.footer {
  padding: 32px 0 60px 0;
  position: relative;
  /* color: var(--beauty-landing-2-s5); */
  background-image: url('../images/footer-bg.png');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-color: var(--beauty-landing-2-c1);

  @media screen and (min-width: $bp-desktop) {
    padding: 56px 0;
  }

  &::after {
    @media screen and (min-width: $bp-tablet) {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 250px;
      height: 150px;
      background-image: url('../images/footer-bottles.png');
      background-repeat: no-repeat;
      content: '';
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    @media screen and (min-width: $bp-desktop) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      gap: 186px;
    }
  }

  &__nav,
  &__address {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 16px;
    text-align: center;

    @media screen and (min-width: $bp-desktop) {
      flex-direction: row;
      // flex-basis: 50%;
      justify-content: space-between;
      text-align: left;
      gap: 186px;
    }
  }

  &__address {
    gap: 8px;

    @media screen and (min-width: $bp-desktop) {
      gap: 186px;
    }
  }

  &__logo,
  &__menu {
    flex-shrink: 0;
  }

  &__logo {
    width: 56px;
    height: 30px;
    margin-bottom: 22px;
    align-self: center;

    @media screen and (min-width: $bp-desktop) {
      width: 83px;
      height: 42px;
      align-self: flex-start;
    }
  }

  &__menu,
  &__address-contacts {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  // &__address-contacts {
  //   display: flex;
  //   flex-direction: column;
  //   flex-grow: 1;
  //   gap: 16px;
  // }

  &__address-list {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      gap: 16px;
    }
  }

  &__address-link {
    color: var(--beauty-landing-2-background);
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    line-height: 1.1;
    text-decoration: none;
    transition: color 0.2s;

    @media screen and (min-width: $bp-desktop) {
      font-size: 16px;
    }

    &:hover {
      color: var(--beauty-landing-2-s2);
      /* font-weight: 700; */
    }
  }

  &__address-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__address-policy-mobile {
    display: block;

    @media screen and (min-width: $bp-desktop) {
      display: none;
    }
  }

  &__address-policy-desktop {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: block;
    }
  }

  &__address-policy-mobile,
  &__address-policy-desktop {
    color: var(--beauty-landing-2-background);
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    line-height: 1.1;
    text-decoration: none;
    transition: color 0.2s;

    @media screen and (min-width: $bp-desktop) {
      font-size: 16px;
    }
  }

  &__socials {
    display: flex;
    justify-content: center;
    gap: 20px;

    @media screen and (min-width: $bp-desktop) {
      justify-content: flex-start;
      gap: 24px;
    }
  }

  &__socials-icon {
    display: block;
    width: 32px;
    height: 32px;
    fill: var(--beauty-landing-2-background);
    transition: fill 0.2s;

    @media screen and (min-width: $bp-desktop) {
      width: 42px;
      height: 42px;
    }

    &:hover {
      fill: var(--beauty-landing-2-s2);
    }
  }

  &__address-copyright {
    color: var(--beauty-landing-2-s5);
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 12px;
    font-style: normal;
    margin-bottom: 0;

    @media screen and (min-width: $bp-desktop) {
      font-size: 13px;
    }
  }
}
