.header {
  position: absolute;
  z-index: 6;
  top: 0;
  width: 100%;
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.25);

  &__container {
    padding: 32px 0;
  }

  &__nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 40px;
  }

  &__menu {
    display: flex;
    justify-content: center;
    gap: 56px;
    flex-grow: 1;
  }

  &__contacts {
    display: flex;
    justify-content: center;
    gap: 32px;
  }

  &__socials {
    fill: var(--beauty-landing-2-c1);
    transition: fill 0.2s;

    &:hover {
      fill: var(--beauty-landing-2-s2);
    }
  }
}
