.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--beauty-landing-2-background);
  transform: translateX(100%);
  transition: transform 0.3s;

  &.is-open {
    transform: translate(0);
  }

  &__btn-close {
    position: absolute;
    top: 16px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    padding: 0;
    border: none;
    background-color: transparent;
    fill: var(--beauty-landing-2-c1);
  }

  &__content {
    position: absolute;
    top: 16px;
    left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    gap: 32px;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__contacts {
    display: flex;
    gap: 16px;
  }
}
