.section {
  padding: 20px 0;

  @media screen and (min-width: $bp-tablet) {
    &.section {
      padding: 36px 0;
    }
  }

  @media screen and (min-width: $bp-desktop) {
    &.section {
      padding: 48px 0;
    }
  }

  &__title {
    margin-bottom: 24px;
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 32px;
    line-height: 1.2;

    @media screen and (min-width: $bp-tablet) {
      font-family: var(--title-font);
      margin-bottom: 36px;
      font-weight: 700;
      font-size: 48px;
      line-height: 1.2;
    }

    @media screen and (min-width: $bp-desktop) {
      margin-bottom: 48px;
      font-weight: 700;
      font-size: 64px;
      line-height: 1.2;
    }
  }
}
