.why-choose-us-section {
  position: relative;

  &::before {
    position: absolute;
    height: 1506px;
    top: -160px;
    left: 0;
    right: 0;
    background-image: url(../images/why-choose-us-bg.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 1500px;
    content: '';
    z-index: -2;
  }
  &__title {
    text-align: center;
  }

  &__container {
    display: flex;
    justify-content: center;
    max-width: 1060px;
    margin: 0 auto;
  }

  &__list {
    display: flex;
    justify-content: center;
    gap: 56px;
  }

  &__item {
    flex-basis: calc((100% - 112px) / 3);
  }
}
