.why-choose-us-section {
  position: relative;

  &::before {
    position: absolute;
    height: 1506px;
    top: -140px;
    left: 0;
    right: 0;
    background-image: url(../images/why-choose-us-bg.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    content: '';
    z-index: -2;

    @media screen and (min-width: $bp-tablet) {
      top: -130px;
    }

    @media screen and (min-width: $bp-desktop) {
      top: -160px;
      background-size: 100% 1500px;
    }
  }

  &__title {
    text-align: center;
  }

  &__container {
    display: flex;
    justify-content: center;
    max-width: 1060px;
    margin: 0 auto;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;

    @media screen and (min-width: $bp-desktop) {
      flex-direction: row;
      gap: 56px;
    }
  }

  &__item {
    flex-basis: calc((100% - 112px) / 3);
  }
}
